
/*  Global Settings */
* {
    font-family: helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    overflow: auto;
    /* scroll-snap-type: y mandatory; */
    height: 100vh;
}


/*  Navigation Bar */
nav {
    position: absolute;
    width: 100%;
    top: 20px;
    background-color: rgb(255, 255, 255);
    transition: 2s;
    display: flex;
    align-items: center;
    z-index: 2;
}

.change-nav {
    background-color: black;
}

.text-to-white {
    color: white;
}

nav ul {
    display: flex;
    padding: 20px 30px 20px;
    color: rgb(224, 224, 224);
}

nav li {
    padding: 0px 10px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
}


/* logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    font-weight: bold;
    padding-left: 100px;
}


/* Intro */
.intro {
    display: flex;
    margin-top: 150px;
    padding: 150px;
    background-color: #08225c;
    flex-wrap: wrap;
    justify-content: center;
}

.intro--text {
    max-width: 450px;
    color: whitesmoke;
}

.intro--text h1 {
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

.intro--photos {
    position: relative;
    height: 100%;
    width: 500px;
}

.intro--photo {
    height: 455px;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
}

#intro--photo-1 {
    top: -180px;
    right: 90px;
}

#intro--photo-2 {
    top: -20px;
    right: 0px;
}

#intro--photo-3 {
    top: 180px;
    right: 40px;
}


/* Oferta */
.offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px;
}

.offer h2 {
    text-align: center;
    font-size: 1.9rem;
    padding: 15px;
}

.offer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

figure {
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    margin: 20px;
}


@keyframes changeOpacity {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;  
    }
    100% {
        opacity: 1;
    }
}

.change-image {
    animation: changeOpacity 1400ms ease-in-out;
}


figure img {
    height: 150px;
    width: 150px;
    margin: 10px;
    transition: opacity 1.5s;
}

.triangle {
    height: 0;
    width: 0;
    border-bottom: 10px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    z-index: 3;
}

figcaption {
    text-align: center;
    color: rgb(218, 32, 32);
    font-size: 1.4rem;
}

figure p {
    display: flex;
    align-items: center;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 32px;
    margin: 10px;
    transition: opacity 2s 1s;
}

@media screen and (max-width: 1500px) {
    figure {
        padding: 10px;
        width: 30%;
        margin: 0px;
    }
}

@media screen and (max-width: 700px) {
    figure {
        padding: 10px;
        width: 90%;
    }
    .offer {
        height: auto;
    }
}



/* Contact box */
.contact {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(171 29 29);
    margin: 0 auto;
    color: white;
    border-radius: 15px;
}

.contact-box-info h2 {
    font-size: 1.9rem;
    padding-bottom: 10px;
}

.contact-box-info h3 {
    padding: 20px 0 10px 0;
    font-family: 1.6rem;
}

.contact-icon {
    display: flex;
    padding: 5px;
    align-items: center;
}

.contact-icon img {
    padding-right: 10px;
}

.contact-box {
    display: flex;
    width: 100%;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
}


.google-map-img {
    width: 600px;
    height: 400px;
}


@media screen and (max-width: 600px) {
    .contact-box {
        flex-wrap: wrap;
    }
    .content-box {
        width: 90%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

/* Footer */

footer p {
    font-size: 0.8rem;
    text-align: right;
    color: gray;
    padding-right: 20px;
}
